body {
    font-family: 'Arial';
    line-height: 1.6;
    background-color: #DEE5E5;
    color: #333;
    padding: 20px;
    }
    header {
    background: #082D0F;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    }
    main {
    margin-top: 20px;
    }
    #todo-app {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    #todo-input {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    }
    
    button {
    padding: 10px 15px;
    background: #28a745;
    border: none;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background: #082D0F;
    }
     
    li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    
    